@charset "UTF-8";
/* CSS Document */

body{background:var(--bs-black);color:var(--bs-white); font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
	font-weight: 300;}
/*---------------------------------------
    Typorgraphy              
-----------------------------------------*/

h1,h2,h3,h4,h5,h6 {
  font-style: normal;
  font-weight: 300;
}

h2,h3 {
  font-weight: 300;
}

h1 {
  font-size: 48px;
  font-weight:400;
  padding-bottom: 14px;
  margin-bottom: 0px;
}

h2 {
  font-size: 40px;
  line-height: 52px;
  margin-top: 0px;
}

h3 {
  font-size: 26px;
  line-height: 32px;
}

h4 {
 
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 6px;
}

h5 {
	 font-size: 16px;

}

p {
    color:var(--bs-light);
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
}
strong {
  color: var(--bs-primary);
  font-weight: normal;
}
.section-btn {
  background-color: var(--bs-primary);
  border: 3px solid #232B2B;
  border-radius: 100px;
  color: var(--bs-white);
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1.6px;
  padding: 12px 36px;
  margin-top: 42px;
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
}

.section-btn:hover {
  background: var(--bs-light);
  border-color: transparent;
  color: var(--bs-primary);
}

.btn-success:focus {
  /*background-color: #121212;
  border-color: transparent;*/
	background-color: var(--bs-primary);
  border: 3px solid #232B2B;
  border-radius: 100px;
  color: var(--bs-light);
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1.6px;
  padding: 12px 36px;
  margin-top: 42px;
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
}




/*---------------------------------------
    Preloader section              
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 var(--bs-white);
}

.spinner {
  border: 1px solid transparent;
  border-radius: 5px;
  position: relative;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid var(--bs-primary);
  border-top-color: var(--bs-white);
  animation: spinner .6s linear infinite;
}

@-webkit-@keyframes spinner {
  to {transform: rotate(360deg);}
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}


/*---------------------------------------
    Navigation section              
-----------------------------------------*/

.custom-navbar {
    margin-bottom: 0;
    background-color:var(--bs-black);
	color:var(--bs-white)
}

.custom-navbar .navbar-brand {
    color: var(--bs-white);
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 1px;
}

.custom-navbar .nav li a {
    color: var(--bs-white);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 40px;
    transition: all 0.4s ease-in-out;
}

.custom-navbar .nav li a:hover {
    background: transparent;
    color: var(--bs-primary);
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
  background-color: transparent;
}

.custom-navbar .nav li.active > a {
    background-color: transparent;
    color: var(--bs-primary);
}

.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
}

.custom-navbar .navbar-toggle {
    background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
    background: var(--bs-primary);
    border-color: transparent;
}

@media only screen and (max-width: 767px) {
    .custom-navbar {
        padding: 12px 0;
        border-bottom: 0;
        background: 0 0; 
    }
    .custom-navbar.top-nav-collapse {
        background: var(--bs-black);
        box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
        padding: 0;
    }

}


#home {padding:180px 0 180px 0}
@media only screen and (max-width: 767px){
	#home{padding:80px 0 80px 0;}
	#home h1 {
  font-size: 36px;
  font-weight:400;
  padding-bottom: 0px;
}




.img-logo{height:40px; width:auto}
.img-100{width:100%;height:auto; padding:0; margin:0}
.navbar{font-weight: 400;}
#work .card{overflow: hidden}
#work .card .card-img{transition: all 0.25s}
#work .card .card-img:hover{transform: scale(1.2)}

.work{padding:none;
	margin:none;
	background:none}
.card{width:100%;
	padding:none;
	text-align:left;
	margin:none;
	background:none;
	
}
.card h3{padding:10px 0 0 0 ; margin:0; font-weight: 400}
.card p{color: #949494}
.card a{
	padding:0;
	margin:0;
	background:none;
	
}

.home{padding:none; margin:none}
.row{padding:none; margin:none}
.section{padding:none; margin:none}


/*---------------------------------------
    3d animation             
-----------------------------------------*/
.3d{border: 5px }
.img-character{width:250px; right:10%; position:absolute;transform: rotate(4deg);animation-name: example1;
  animation-duration: 3s;animation-iteration-count: infinite;animation-timing-function: ease-in-out;}
.img-character-left{width:500px; position:absolute;; animation-name: example2;animation-duration: 3s;animation-iteration-count: infinite;animation-timing-function: ease-in-out;}

@keyframes example2 {
	0%{top:120px}
	50%{top:140px}
	100%{top:120px}}
@keyframes example1 {
	0%{top:240px}
	50%{top:260px}
	100%{top:240px}}

@media only screen and (max-width: 767px){
	@keyframes example2 {
	0%{top:600px}
	50%{top:620px}
	100%{top:700px}}
@keyframes example1 {
	0%{top:700px}
	50%{top:720px}
	100%{top:700px}}
	
	/*---------------------------------------
    3d animation             
-----------------------------------------*/
	
	
	.card{
    height: auto;
    padding-top: 450px;
    padding-bottom: 12px;
  }
	
	
.navbar a{
  display: inline-block;
  position: relative;
}

.navbar a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
*col-{padding:none; margin:none}
}